.HeadNavMain {
    display: flex;
    background-color: #001529;
    position: absolute;
    top: 0;
    height: 5vh;
    width: 100%;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
    font-family: Roboto;
}
.BrandDetails {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

    gap: 20px;
    width: 30%;
    margin-left: 20px;
    
}
.logoImg {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.Title {
    font-family:Roboto;

}