.NavMain {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 15vw;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family:Roboto;
    
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}

.ctr-link-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.ctr-number-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-left: 5px;
    transition: 0.5s;
    
}
.icon {
    width: 50px;
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5%;
    color: #8C8C8C;
    border-right: 1px solid #F0F0F0;
    transition: 0.5s;

}
.ctr-number-link {
    color: black;
    transition: 0.5s;
}
.ctr-number-container:hover {
    background-color: #E6F7FF;
    transition: 0.3s;
    color: #1890FF;
    .icon {
        background-color: #E6F7FF;
        border-right: 1px solid #E6F7FF;
        transition: 0.3s;
        color: #1890FF;
    }
    .ctr-number-link {
        color: #1890FF;
        transition: 0.3s;
    }
    
}