/* Weekly Table Styles */
.weekly-table-container {
    width: 70vw;
    margin-top: 35vh;
    margin-left: 20vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
  }
  
